# Identity HTTP contract / Identity HTTP 契约
# OAuth/OIDC protocol fields retain their standards-defined spelling; domain JSON uses snake_case.
# OAuth/OIDC 协议字段保留标准拼写；领域 JSON 使用 snake_case。
openapi: 3.1.1
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: moeSegFault Identity API
  version: 1.0.0
  summary: Passkey-first identity authority and OAuth/OIDC issuer
  description: |
    The implementable first-release contract for `identity.moesegfault.dev`.
    JSON property names use `snake_case`. Ordinary API errors use RFC 9457
    Problem Details; OAuth/OIDC protocol endpoints retain their standards-defined
    error payloads and redirects. Browser session secrets are delivered only in
    host-only HttpOnly cookies and never appear in response bodies.

    Recovery has no persistent principal state. Starting recovery validates and
    browser-binds a code without consuming it. Completion atomically consumes the
    code, creates a new Passkey, revokes old Passkeys/sessions/codes/token families,
    and creates a normal session. This removes the half-recovered account state.
  contact:
    name: moeSegFault
  license:
    name: GNU General Public License v3.0
    identifier: GPL-3.0-only
servers:
  - url: https://identity.moesegfault.dev
    description: Production
tags:
  - name: metadata
    description: Public OIDC discovery and signing metadata.
  - name: ceremonies
    description: Browser-bound WebAuthn and recovery ceremonies.
  - name: account
    description: Current-principal account and credential management.
  - name: bindings
    description: External identity provider bindings.
  - name: oauth
    description: OAuth 2.0 and OpenID Connect protocol endpoints.
  - name: operations
    description: Runtime liveness and readiness.
security: []
paths:
  /.well-known/openid-configuration:
    get:
      tags: [metadata]
      operationId: getOpenIdConfiguration
      summary: Return OpenID Provider metadata
      responses:
        '200':
          description: OpenID Provider metadata
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
            Cache-Control:
              schema: {type: string, const: 'public, max-age=300'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/OpenIdConfiguration'}
        default: {$ref: '#/components/responses/Problem'}
  /.well-known/jwks.json:
    get:
      tags: [metadata]
      operationId: getJsonWebKeySet
      summary: Return current and verification-valid public signing keys
      responses:
        '200':
          description: JSON Web Key Set
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
            Cache-Control:
              schema: {type: string, const: 'public, max-age=300'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/JsonWebKeySet'}
        default: {$ref: '#/components/responses/Problem'}
  /healthz:
    get:
      tags: [operations]
      operationId: getHealth
      summary: Report process liveness and D1 readiness
      responses:
        '200': {$ref: '#/components/responses/Health'}
        '503': {$ref: '#/components/responses/Health'}

  /v1/browser-context:
    get:
      tags: [ceremonies]
      operationId: getBrowserContext
      summary: Establish or refresh the anonymous browser binding and CSRF token
      description: The Login SPA calls this first and retains `csrf_token` only in memory.
      parameters:
        - {$ref: '#/components/parameters/Origin'}
      responses:
        '200':
          description: Browser context bound to an HttpOnly cookie
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
            Set-Cookie: {$ref: '#/components/headers/BrowserSetCookie'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BrowserContext'}
        default: {$ref: '#/components/responses/Problem'}

  /v1/registration-policy:
    get:
      tags: [ceremonies]
      operationId: getRegistrationPolicy
      summary: Return the public registration mode
      responses:
        '200':
          description: Current policy
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RegistrationPolicy'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/registration-transactions:
    post:
      tags: [ceremonies]
      operationId: createAccountRegistrationTransaction
      summary: Start registration of a principal and first Passkey
      description: Uses open policy or consumes no capability yet; a capability is consumed only by successful completion.
      parameters:
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
        - {$ref: '#/components/parameters/CsrfToken'}
      security: [{browser_cookie: [], csrf_header: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CreateAccountRegistrationRequest'}
      responses:
        '201':
          description: Pending WebAuthn registration transaction
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RegistrationTransaction'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/registration-transactions/{transaction_id}/completion:
    post:
      tags: [ceremonies]
      operationId: completeRegistrationTransaction
      summary: Consume a registration transaction and verify attestation
      description: |
        Exactly one submission changes the transaction from pending. Repeating the
        same idempotency key and request returns the recorded result; a different
        request returns `409 transaction_consumed` or `409 idempotency_conflict`.
      parameters:
        - {$ref: '#/components/parameters/TransactionId'}
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      security: [{browser_cookie: [], csrf_header: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/RegistrationCompletionRequest'}
      responses:
        '201':
          description: Account or authenticator created; recovery codes appear only after initial registration
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
            Set-Cookie: {$ref: '#/components/headers/IdentitySetCookie'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RegistrationCompletion'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/authentication-transactions:
    post:
      tags: [ceremonies]
      operationId: createAuthenticationTransaction
      summary: Start discoverable-credential login or Passkey step-up
      parameters:
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
        - {$ref: '#/components/parameters/CsrfToken'}
      security: [{browser_cookie: [], csrf_header: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CreateAuthenticationRequest'}
      responses:
        '201':
          description: Pending WebAuthn authentication transaction
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AuthenticationTransaction'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/authentication-transactions/{transaction_id}/completion:
    post:
      tags: [ceremonies]
      operationId: completeAuthenticationTransaction
      summary: Consume an authentication transaction and verify assertion
      parameters:
        - {$ref: '#/components/parameters/TransactionId'}
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      security: [{browser_cookie: [], csrf_header: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AuthenticationCompletionRequest'}
      responses:
        '200':
          description: Authentication succeeded and the identity session was created or rotated
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
            Set-Cookie: {$ref: '#/components/headers/IdentitySetCookie'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AuthenticationCompletion'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/recovery-transactions:
    post:
      tags: [ceremonies]
      operationId: createRecoveryTransaction
      summary: Validate recovery material and start new-Passkey creation without consuming the code
      parameters:
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
        - {$ref: '#/components/parameters/CsrfToken'}
      security: [{browser_cookie: [], csrf_header: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CreateRecoveryRequest'}
      responses:
        '201':
          description: Pending recovery transaction
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RecoveryTransaction'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/recovery-transactions/{transaction_id}/completion:
    post:
      tags: [ceremonies]
      operationId: completeRecoveryTransaction
      summary: Atomically consume recovery material, replace Passkeys, revoke old authority, and sign in
      parameters:
        - {$ref: '#/components/parameters/TransactionId'}
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      security: [{browser_cookie: [], csrf_header: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/RegistrationCompletionRequest'}
      responses:
        '201':
          description: Recovery completed atomically and a normal Identity session was created
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
            Set-Cookie: {$ref: '#/components/headers/IdentitySetCookie'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RecoveryCompletion'}
        default: {$ref: '#/components/responses/Problem'}

  /v1/principals/self:
    get:
      tags: [account]
      operationId: getSelf
      summary: Read the current human account
      security: [{identity_cookie: []}]
      responses:
        '200':
          description: Current account
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/AccountSessionEnvelope'}
        default: {$ref: '#/components/responses/Problem'}
    patch:
      tags: [account]
      operationId: updateSelf
      summary: Update display profile fields
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema: {$ref: '#/components/schemas/UpdateAccountRequest'}
      responses:
        '200':
          description: Updated account
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Account'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [account]
      operationId: scheduleSelfDeletion
      summary: Enter pending_deletion and revoke all authentication capability
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      responses:
        '204': {$ref: '#/components/responses/NoContent'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/principals/self/identifiers:
    get:
      tags: [account]
      operationId: listSelfIdentifiers
      summary: List identifiers of the current account
      security: [{identity_cookie: []}]
      responses:
        '200':
          description: Account identifiers
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items: {type: array, items: {$ref: '#/components/schemas/Identifier'}, maxItems: 1}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [account]
      operationId: createSelfIdentifier
      summary: Add the first-release username identifier
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/IdentifierInput'}
      responses:
        '201':
          description: Identifier created
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Identifier'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/principals/self/identifiers/{identifier_id}:
    patch:
      tags: [account]
      operationId: updateSelfIdentifier
      summary: Replace the username identifier value
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/IdentifierId'}
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/IdentifierInput'}
      responses:
        '200':
          description: Identifier updated
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Identifier'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [account]
      operationId: deleteSelfIdentifier
      summary: Delete the username identifier
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/IdentifierId'}
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      responses:
        '204': {$ref: '#/components/responses/NoContent'}
        default: {$ref: '#/components/responses/Problem'}

  /v1/principals/self/authenticators:
    get:
      tags: [account]
      operationId: listSelfAuthenticators
      summary: List Passkeys of the current account
      security: [{identity_cookie: []}]
      responses:
        '200':
          description: Passkeys, including the one that established the current session
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items: {type: array, items: {$ref: '#/components/schemas/Authenticator'}}
        default: {$ref: '#/components/responses/Problem'}
  /v1/principals/self/authenticators/registration-transactions:
    post:
      tags: [account, ceremonies]
      operationId: createAuthenticatorRegistrationTransaction
      summary: Start adding a Passkey using recent Passkey authentication
      description: Requires a normal session authenticated with a Passkey in the previous five minutes.
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CreateAuthenticatorRegistrationRequest'}
      responses:
        '201':
          description: Pending Passkey registration transaction
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RegistrationTransaction'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/principals/self/authenticators/{authenticator_id}:
    patch:
      tags: [account]
      operationId: updateSelfAuthenticator
      summary: Rename a Passkey
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/AuthenticatorId'}
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema: {$ref: '#/components/schemas/UpdateAuthenticatorRequest'}
      responses:
        '200':
          description: Updated Passkey
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Authenticator'}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [account]
      operationId: revokeSelfAuthenticator
      summary: Revoke a Passkey after recent Passkey authentication
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/AuthenticatorId'}
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      responses:
        '204': {$ref: '#/components/responses/NoContent'}
        default: {$ref: '#/components/responses/Problem'}

  /v1/binding-providers:
    get:
      tags: [bindings]
      operationId: listBindingProviders
      summary: List enabled external identity providers
      security: [{identity_cookie: []}]
      responses:
        '200':
          description: Provider presentation and authentication policy
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items: {type: array, items: {$ref: '#/components/schemas/BindingProvider'}}
        default: {$ref: '#/components/responses/Problem'}
  /v1/principals/self/bindings:
    get:
      tags: [bindings]
      operationId: listSelfBindings
      summary: List external identity bindings of the current account
      security: [{identity_cookie: []}]
      responses:
        '200':
          description: Non-sensitive external bindings
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items: {type: array, items: {$ref: '#/components/schemas/IdentityBinding'}}
        default: {$ref: '#/components/responses/Problem'}
  /v1/principals/self/bindings/{binding_id}:
    delete:
      tags: [bindings]
      operationId: revokeSelfBinding
      summary: Revoke a binding and sessions established through it
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/BindingId'}
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      responses:
        '204': {$ref: '#/components/responses/NoContent'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/binding-transactions:
    post:
      tags: [bindings]
      operationId: createBindingTransaction
      summary: Start a provider redirect after recent Passkey authentication
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CreateBindingTransactionRequest'}
      responses:
        '201':
          description: Provider navigation target; only this returned fixed registry-derived URL may be used
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/BindingTransaction'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/binding-transactions/callback:
    get:
      tags: [bindings]
      operationId: completeBindingProviderCallback
      summary: Validate provider state and code, atomically create the binding, then return to fixed login UI
      parameters:
        - name: code
          in: query
          required: true
          schema: {type: string, minLength: 1, maxLength: 2048}
        - name: state
          in: query
          required: true
          schema: {type: string, minLength: 32, maxLength: 1024}
      responses:
        '303':
          description: Redirect to the fixed binding completion page
          headers:
            Location:
              required: true
              schema: {type: string, format: uri}
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
        default: {$ref: '#/components/responses/Problem'}

  /v1/principals/self/sessions:
    get:
      tags: [account]
      operationId: listSelfSessions
      summary: List Identity sessions of the current account
      security: [{identity_cookie: []}]
      responses:
        '200':
          description: Active and recently revoked Identity sessions
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items]
                properties:
                  items: {type: array, items: {$ref: '#/components/schemas/IdentitySession'}}
        default: {$ref: '#/components/responses/Problem'}
    delete:
      tags: [account]
      operationId: revokeAllSelfSessions
      summary: Revoke all Identity sessions and refresh-token families
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      responses:
        '204': {$ref: '#/components/responses/NoContent'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/principals/self/sessions/{session_id}:
    delete:
      tags: [account]
      operationId: revokeSelfSession
      summary: Revoke one Identity session
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/SessionId'}
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      responses:
        '204': {$ref: '#/components/responses/NoContent'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/principals/self/recovery-codes:
    get:
      tags: [account]
      operationId: getSelfRecoveryCodeStatus
      summary: Read recovery-code counts without revealing secrets
      security: [{identity_cookie: []}]
      responses:
        '200':
          description: Counts only; recovery secrets are never readable again
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RecoveryCodeStatus'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/principals/self/recovery-codes/rotations:
    post:
      tags: [account]
      operationId: rotateSelfRecoveryCodes
      summary: Invalidate old codes and display a fresh set exactly once
      security: [{identity_cookie: [], csrf_header: []}]
      parameters:
        - {$ref: '#/components/parameters/CsrfToken'}
        - {$ref: '#/components/parameters/IdempotencyKey'}
        - {$ref: '#/components/parameters/Origin'}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/EmptyObject'}
      responses:
        '201':
          description: New recovery codes displayed once; a lost response requires a new key and another rotation
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
            Cache-Control:
              schema: {type: string, const: no-store}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RecoveryCodeRotation'}
        default: {$ref: '#/components/responses/Problem'}

  /v1/oauth/authorizations:
    get:
      tags: [oauth]
      operationId: authorize
      summary: OAuth 2.0 authorization endpoint; top-level browser navigation only
      parameters:
        - {name: client_id, in: query, required: true, schema: {type: string, minLength: 1, maxLength: 255}}
        - {name: redirect_uri, in: query, required: true, schema: {type: string, format: uri, maxLength: 2048}}
        - {name: response_type, in: query, required: true, schema: {type: string, const: code}}
        - {name: scope, in: query, required: true, schema: {type: string, pattern: '^openid(?: [A-Za-z0-9._:-]+)*$', maxLength: 1024}}
        - {name: state, in: query, required: true, schema: {type: string, minLength: 8, maxLength: 1024}}
        - {name: nonce, in: query, required: true, schema: {type: string, minLength: 8, maxLength: 1024}}
        - {name: code_challenge, in: query, required: true, schema: {$ref: '#/components/schemas/PkceChallenge'}}
        - {name: code_challenge_method, in: query, required: true, schema: {type: string, const: S256}}
        - {name: prompt, in: query, required: false, schema: {type: string, enum: [none, login, select_account]}}
      responses:
        '302':
          description: Redirect to login UI or the exact client redirect URI with code/error, state, and iss
          headers:
            Location: {required: true, schema: {type: string, format: uri}}
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
        '400': {$ref: '#/components/responses/Problem'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/oauth/tokens:
    post:
      tags: [oauth]
      operationId: exchangeToken
      summary: Exchange authorization code or rotate refresh token
      description: Confidential clients authenticate with `private_key_jwt`; native clients use `client_id` and PKCE.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/OAuthTokenRequest'}
      responses:
        '200':
          description: Token response
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
            Cache-Control: {schema: {type: string, const: no-store}}
            Pragma: {schema: {type: string, const: no-cache}}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/OAuthTokenResponse'}
        '400': {$ref: '#/components/responses/OAuthError'}
        '401': {$ref: '#/components/responses/OAuthError'}
        default: {$ref: '#/components/responses/OAuthError'}
  /v1/oauth/authorization-transactions/{authorization_transaction_id}/resume:
    get:
      tags: [oauth]
      operationId: resumeAuthorization
      summary: Resume a verified authorization request as a top-level navigation
      description: The Login SPA navigates here; only this endpoint places the authorization code in the client redirect URI.
      security: [{identity_cookie: []}]
      parameters:
        - name: authorization_transaction_id
          in: path
          required: true
          schema: {$ref: '#/components/schemas/UuidV7'}
      responses:
        '302':
          description: Exact registered client redirect with `code`, original `state`, and `iss`
          headers:
            Location: {required: true, schema: {type: string, format: uri}}
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
        default: {$ref: '#/components/responses/Problem'}
  /v1/oauth/revocations:
    post:
      tags: [oauth]
      operationId: revokeToken
      summary: Revoke a refresh-token family; access-token requests are accepted as best effort
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/OAuthRevocationRequest'}
      responses:
        '200':
          description: Always successful for a syntactically valid, authenticated revocation request
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
            Cache-Control: {schema: {type: string, const: no-store}}
        '400': {$ref: '#/components/responses/OAuthError'}
        '401': {$ref: '#/components/responses/OAuthError'}
        default: {$ref: '#/components/responses/OAuthError'}
  /v1/oidc/user-claims:
    get:
      tags: [oauth]
      operationId: getUserClaims
      summary: Return minimal OIDC UserInfo claims
      security: [{oauth_bearer: [openid]}]
      responses:
        '200':
          description: Claims restricted by the access token scope and audience
          headers:
            x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
          content:
            application/json:
              schema: {$ref: '#/components/schemas/UserClaims'}
        '401': {$ref: '#/components/responses/OAuthBearerError'}
        '403': {$ref: '#/components/responses/OAuthBearerError'}
        default: {$ref: '#/components/responses/OAuthBearerError'}
  /v1/oidc/logout-requests:
    get:
      tags: [oauth]
      operationId: getLogoutRequest
      summary: RP-initiated logout by top-level navigation
      parameters:
        - {$ref: '#/components/parameters/IdTokenHint'}
        - {$ref: '#/components/parameters/PostLogoutRedirectUri'}
        - {$ref: '#/components/parameters/LogoutState'}
      responses:
        '302': {$ref: '#/components/responses/LogoutRedirect'}
        '200': {$ref: '#/components/responses/LogoutComplete'}
        default: {$ref: '#/components/responses/Problem'}
    post:
      tags: [oauth]
      operationId: postLogoutRequest
      summary: RP-initiated logout form submission
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              properties:
                id_token_hint: {type: string, maxLength: 8192}
                post_logout_redirect_uri: {type: string, format: uri, maxLength: 2048}
                state: {type: string, maxLength: 1024}
      responses:
        '302': {$ref: '#/components/responses/LogoutRedirect'}
        '200': {$ref: '#/components/responses/LogoutComplete'}
        default: {$ref: '#/components/responses/Problem'}

components:
  securitySchemes:
    browser_cookie:
      type: apiKey
      in: cookie
      name: __Host-identity_browser
      description: Opaque anonymous browser binding; host-only, Secure, HttpOnly, SameSite=Strict.
    csrf_header:
      type: apiKey
      in: header
      name: x-moesegfault-csrf
      description: Token returned by browser-context or session establishment and bound to its cookie.
    identity_cookie:
      type: apiKey
      in: cookie
      name: __Host-identity_session
      description: Opaque Identity SSO session cookie; host-only, Secure, HttpOnly, SameSite=Lax.
    oauth_bearer:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://identity.moesegfault.dev/v1/oauth/authorizations
          tokenUrl: https://identity.moesegfault.dev/v1/oauth/tokens
          refreshUrl: https://identity.moesegfault.dev/v1/oauth/tokens
          scopes:
            openid: Establish an OpenID Connect identity
            profile: Read minimal public profile claims
            offline_access: Receive a rotating refresh token
  headers:
    CorrelationId:
      description: Server-generated request correlation ID. An inbound value with this name is ignored.
      required: true
      schema: {$ref: '#/components/schemas/UuidV7'}
    IdentitySetCookie:
      description: '`__Host-identity_session`; Secure; HttpOnly; SameSite=Lax; Path=/. The previous secret is invalidated.'
      required: true
      schema: {type: string}
    BrowserSetCookie:
      description: '`__Host-identity_browser`; Secure; HttpOnly; SameSite=Strict; Path=/. Contains only an opaque random secret.'
      required: true
      schema: {type: string}
  parameters:
    Origin:
      name: Origin
      in: header
      required: true
      schema: {type: string, const: 'https://login.moesegfault.dev'}
    CsrfToken:
      name: x-moesegfault-csrf
      in: header
      required: true
      description: Opaque token bound to the session or transaction and validated in constant time.
      schema: {type: string, minLength: 32, maxLength: 256}
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Caller-generated opaque key. Reuse with a different request digest returns `idempotency_conflict`.
      schema: {type: string, minLength: 16, maxLength: 128, pattern: '^[\x21-\x7E]+$'}
    TransactionId:
      name: transaction_id
      in: path
      required: true
      schema: {$ref: '#/components/schemas/UuidV7'}
    IdentifierId:
      name: identifier_id
      in: path
      required: true
      schema: {$ref: '#/components/schemas/UuidV7'}
    AuthenticatorId:
      name: authenticator_id
      in: path
      required: true
      schema: {$ref: '#/components/schemas/UuidV7'}
    BindingId:
      name: binding_id
      in: path
      required: true
      schema: {$ref: '#/components/schemas/UuidV7'}
    SessionId:
      name: session_id
      in: path
      required: true
      schema: {$ref: '#/components/schemas/UuidV7'}
    IdTokenHint:
      name: id_token_hint
      in: query
      required: false
      schema: {type: string, maxLength: 8192}
    PostLogoutRedirectUri:
      name: post_logout_redirect_uri
      in: query
      required: false
      schema: {type: string, format: uri, maxLength: 2048}
    LogoutState:
      name: state
      in: query
      required: false
      schema: {type: string, maxLength: 1024}
  responses:
    Problem:
      description: RFC 9457 error response
      headers:
        x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
        Retry-After:
          description: Present for rate limiting or transient unavailability.
          schema: {type: integer, minimum: 1}
      content:
        application/problem+json:
          schema: {$ref: '#/components/schemas/Problem'}
    NoContent:
      description: Operation completed; repeated deletion has the same externally visible result
      headers:
        x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
    Health:
      description: Service health state
      headers:
        x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
        Cache-Control: {schema: {type: string, const: no-store}}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/Health'}
    OAuthError:
      description: OAuth 2.0 protocol error (not RFC 9457, for protocol compatibility)
      headers:
        x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
        Cache-Control: {schema: {type: string, const: no-store}}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/OAuthError'}
    OAuthBearerError:
      description: OAuth bearer-token error
      headers:
        x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
        WWW-Authenticate:
          required: true
          schema: {type: string, pattern: '^Bearer .+'}
      content:
        application/json:
          schema: {$ref: '#/components/schemas/OAuthError'}
    LogoutRedirect:
      description: Redirect only to an exactly registered post-logout URI, preserving optional state
      headers:
        Location: {required: true, schema: {type: string, format: uri}}
        Set-Cookie: {schema: {type: string}, description: Expires the current Identity session cookie.}
        x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
    LogoutComplete:
      description: Logout completed without a registered redirect
      headers:
        Set-Cookie: {schema: {type: string}, description: Expires the current Identity session cookie.}
        x-moesegfault-correlation-id: {$ref: '#/components/headers/CorrelationId'}
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required: [logged_out]
            properties:
              logged_out: {type: boolean, const: true}
  schemas:
    # Browser bootstrap / 浏览器启动上下文
    BrowserContext:
      type: object
      additionalProperties: false
      required: [csrf_token, csrf_expires_at, has_identity_session]
      properties:
        csrf_token: {type: string, minLength: 32, maxLength: 256, readOnly: true}
        csrf_expires_at: {$ref: '#/components/schemas/DateTime'}
        has_identity_session: {type: boolean}
    AccountSessionEnvelope:
      type: object
      additionalProperties: false
      required: [account, csrf_token, csrf_expires_at]
      properties:
        account: {$ref: '#/components/schemas/Account'}
        csrf_token: {type: string, minLength: 32, maxLength: 256, readOnly: true}
        csrf_expires_at: {$ref: '#/components/schemas/DateTime'}
    EmptyObject: {type: object, additionalProperties: false}
    UuidV4: {type: string, format: uuid, pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'}
    UuidV7: {type: string, format: uuid, pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-7[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'}
    DateTime: {type: string, format: date-time}
    Base64Url: {type: string, pattern: '^[A-Za-z0-9_-]+$'}
    PkceChallenge: {type: string, minLength: 43, maxLength: 43, pattern: '^[A-Za-z0-9_-]{43}$'}
    Problem:
      type: object
      additionalProperties: true
      required: [type, title, status, error_code, correlation_id]
      properties:
        type:
          type: string
          format: uri
          pattern: '^https://identity\.moesegfault\.dev/problems/[a-z0-9_-]+$'
        title: {type: string, minLength: 1, maxLength: 120}
        status: {type: integer, minimum: 400, maximum: 599}
        detail: {type: string, maxLength: 1024}
        instance: {type: string, format: uri-reference}
        error_code:
          type: string
          enum: [invalid_request, authentication_failed, invalid_transaction, transaction_expired, transaction_consumed, reauthentication_required, binding_conflict, identifier_conflict, idempotency_conflict, idempotency_in_progress, idempotency_result_unavailable, last_authenticator, invalid_redirect_uri, invalid_client, invalid_scope, registration_disabled, principal_suspended, rate_limited, not_found, internal_error, service_unavailable]
        correlation_id: {$ref: '#/components/schemas/UuidV7'}
        retry_after_seconds: {type: integer, minimum: 1}
        invalid_parameters:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [name, reason]
            properties:
              name: {type: string, minLength: 1, maxLength: 128}
              reason: {type: string, minLength: 1, maxLength: 256}
    Health:
      type: object
      additionalProperties: false
      required: [status, version, checks]
      properties:
        status: {type: string, enum: [ok, degraded]}
        version: {type: string, minLength: 1, maxLength: 128}
        checks:
          type: object
          additionalProperties: false
          required: [d1]
          properties:
            d1: {type: string, enum: [ok, unavailable]}
    OpenIdConfiguration:
      type: object
      additionalProperties: false
      required: [issuer, authorization_endpoint, token_endpoint, revocation_endpoint, userinfo_endpoint, jwks_uri, end_session_endpoint, authorization_response_iss_parameter_supported, response_types_supported, response_modes_supported, grant_types_supported, subject_types_supported, id_token_signing_alg_values_supported, scopes_supported, token_endpoint_auth_methods_supported, code_challenge_methods_supported, claims_supported]
      properties:
        issuer: {type: string, const: 'https://identity.moesegfault.dev'}
        authorization_endpoint: {type: string, const: 'https://identity.moesegfault.dev/v1/oauth/authorizations'}
        token_endpoint: {type: string, const: 'https://identity.moesegfault.dev/v1/oauth/tokens'}
        revocation_endpoint: {type: string, const: 'https://identity.moesegfault.dev/v1/oauth/revocations'}
        userinfo_endpoint: {type: string, const: 'https://identity.moesegfault.dev/v1/oidc/user-claims'}
        jwks_uri: {type: string, const: 'https://identity.moesegfault.dev/.well-known/jwks.json'}
        end_session_endpoint: {type: string, const: 'https://identity.moesegfault.dev/v1/oidc/logout-requests'}
        authorization_response_iss_parameter_supported: {type: boolean, const: true}
        response_types_supported: {type: array, const: [code]}
        response_modes_supported: {type: array, const: [query]}
        grant_types_supported: {type: array, const: [authorization_code, refresh_token]}
        subject_types_supported: {type: array, const: [pairwise]}
        id_token_signing_alg_values_supported: {type: array, const: [RS256]}
        scopes_supported: {type: array, items: {type: string}, contains: {const: openid}}
        token_endpoint_auth_methods_supported: {type: array, const: [private_key_jwt, none]}
        token_endpoint_auth_signing_alg_values_supported: {type: array, const: [RS256, ES256]}
        code_challenge_methods_supported: {type: array, const: [S256]}
        claims_supported: {type: array, const: [sub, name, preferred_username]}
    JsonWebKeySet:
      type: object
      additionalProperties: false
      required: [keys]
      properties:
        keys:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required: [kty, use, alg, kid, n, e]
            properties:
              kty: {type: string, const: RSA}
              use: {type: string, const: sig}
              alg: {type: string, const: RS256}
              kid: {type: string, minLength: 1, maxLength: 128}
              n: {$ref: '#/components/schemas/Base64Url'}
              e: {$ref: '#/components/schemas/Base64Url'}
    RegistrationPolicy:
      type: object
      additionalProperties: false
      required: [mode, capability_required, policy_revision]
      properties:
        mode: {type: string, enum: [closed, invite_only, open]}
        capability_required: {type: boolean}
        policy_revision: {type: integer, minimum: 1}
    Username: {type: string, minLength: 3, maxLength: 32, pattern: '^[a-z][a-z0-9_]{2,31}$'}
    CreateAccountRegistrationRequest:
      type: object
      additionalProperties: false
      required: [username, display_name, authenticator_label]
      properties:
        username: {$ref: '#/components/schemas/Username'}
        display_name: {type: string, minLength: 1, maxLength: 80}
        locale: {type: string, minLength: 2, maxLength: 35, default: zh-CN}
        authenticator_label: {type: string, minLength: 1, maxLength: 80}
        registration_capability: {type: string, minLength: 32, maxLength: 512, writeOnly: true}
    CreateAuthenticatorRegistrationRequest:
      type: object
      additionalProperties: false
      required: [authenticator_label]
      properties:
        authenticator_label: {type: string, minLength: 1, maxLength: 80}
    RegistrationTransaction:
      type: object
      additionalProperties: false
      required: [transaction_id, csrf_token, expires_at, public_key]
      properties:
        transaction_id: {$ref: '#/components/schemas/UuidV7'}
        csrf_token: {type: string, minLength: 32, maxLength: 256, readOnly: true}
        expires_at: {$ref: '#/components/schemas/DateTime'}
        public_key: {$ref: '#/components/schemas/PublicKeyCredentialCreationOptions'}
    PublicKeyCredentialCreationOptions:
      type: object
      additionalProperties: false
      required: [rp, user, challenge, pub_key_cred_params, timeout, authenticator_selection, attestation]
      properties:
        rp:
          type: object
          additionalProperties: false
          required: [id, name]
          properties:
            id: {type: string, const: login.moesegfault.dev}
            name: {type: string, const: moeSegFault}
        user:
          type: object
          additionalProperties: false
          required: [id, name, display_name]
          properties:
            id: {$ref: '#/components/schemas/Base64Url'}
            name: {type: string, minLength: 1, maxLength: 64}
            display_name: {type: string, minLength: 1, maxLength: 80}
        challenge: {$ref: '#/components/schemas/Base64Url'}
        pub_key_cred_params:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required: [type, alg]
            properties:
              type: {type: string, const: public-key}
              alg: {type: integer, enum: [-7, -257]}
        timeout: {type: integer, minimum: 1000, maximum: 300000}
        exclude_credentials: {type: array, items: {$ref: '#/components/schemas/PublicKeyCredentialDescriptor'}}
        authenticator_selection:
          type: object
          additionalProperties: false
          required: [resident_key, require_resident_key, user_verification]
          properties:
            resident_key: {type: string, const: required}
            require_resident_key: {type: boolean, const: true}
            user_verification: {type: string, const: required}
        attestation: {type: string, const: none}
    PublicKeyCredentialDescriptor:
      type: object
      additionalProperties: false
      required: [type, id]
      properties:
        type: {type: string, const: public-key}
        id: {$ref: '#/components/schemas/Base64Url'}
        transports:
          type: array
          uniqueItems: true
          items: {type: string}
    RegistrationCompletionRequest:
      type: object
      additionalProperties: false
      required: [credential]
      properties:
        credential:
          type: object
          additionalProperties: false
          required: [id, raw_id, type, response, client_extension_results]
          properties:
            id: {$ref: '#/components/schemas/Base64Url'}
            raw_id: {$ref: '#/components/schemas/Base64Url'}
            type: {type: string, const: public-key}
            authenticator_attachment: {type: [string, 'null'], enum: [platform, cross-platform, null]}
            response:
              type: object
              additionalProperties: false
              required: [client_data_json, attestation_object]
              properties:
                client_data_json: {$ref: '#/components/schemas/Base64Url'}
                attestation_object: {$ref: '#/components/schemas/Base64Url'}
                transports: {type: array, uniqueItems: true, items: {type: string}}
            client_extension_results: {type: object, additionalProperties: true}
    RegistrationCompletion:
      type: object
      additionalProperties: false
      required: [account, authenticator, csrf_token, csrf_expires_at]
      properties:
        account: {$ref: '#/components/schemas/Account'}
        authenticator: {$ref: '#/components/schemas/Authenticator'}
        csrf_token: {type: string, minLength: 32, maxLength: 256, readOnly: true}
        csrf_expires_at: {$ref: '#/components/schemas/DateTime'}
        recovery_codes:
          type: array
          minItems: 8
          maxItems: 16
          items: {type: string, minLength: 20, maxLength: 128, readOnly: true}
        next_uri: {type: string, format: uri-reference}
    CreateAuthenticationRequest:
      type: object
      additionalProperties: false
      required: [purpose]
      properties:
        purpose: {type: string, enum: [login, step_up]}
        authorization_transaction_id: {$ref: '#/components/schemas/UuidV7'}
      allOf:
        - if: {properties: {purpose: {const: login}}}
          then: {properties: {authorization_transaction_id: {$ref: '#/components/schemas/UuidV7'}}}
    AuthenticationTransaction:
      type: object
      additionalProperties: false
      required: [transaction_id, csrf_token, expires_at, public_key]
      properties:
        transaction_id: {$ref: '#/components/schemas/UuidV7'}
        csrf_token: {type: string, minLength: 32, maxLength: 256, readOnly: true}
        expires_at: {$ref: '#/components/schemas/DateTime'}
        public_key: {$ref: '#/components/schemas/PublicKeyCredentialRequestOptions'}
    PublicKeyCredentialRequestOptions:
      type: object
      additionalProperties: false
      required: [challenge, timeout, rp_id, user_verification]
      properties:
        challenge: {$ref: '#/components/schemas/Base64Url'}
        timeout: {type: integer, minimum: 1000, maximum: 300000}
        rp_id: {type: string, const: login.moesegfault.dev}
        allow_credentials:
          type: array
          maxItems: 64
          description: Discoverable login uses an empty list; an authenticated step-up lists only that principal's active credentials.
          items: {$ref: '#/components/schemas/PublicKeyCredentialDescriptor'}
        user_verification: {type: string, const: required}
    AuthenticationCompletionRequest:
      type: object
      additionalProperties: false
      required: [credential]
      properties:
        credential:
          type: object
          additionalProperties: false
          required: [id, raw_id, type, response, client_extension_results]
          properties:
            id: {$ref: '#/components/schemas/Base64Url'}
            raw_id: {$ref: '#/components/schemas/Base64Url'}
            type: {type: string, const: public-key}
            authenticator_attachment: {type: [string, 'null'], enum: [platform, cross-platform, null]}
            response:
              type: object
              additionalProperties: false
              required: [client_data_json, authenticator_data, signature]
              properties:
                client_data_json: {$ref: '#/components/schemas/Base64Url'}
                authenticator_data: {$ref: '#/components/schemas/Base64Url'}
                signature: {$ref: '#/components/schemas/Base64Url'}
                user_handle: {oneOf: [{$ref: '#/components/schemas/Base64Url'}, {type: 'null'}]}
            client_extension_results: {type: object, additionalProperties: true}
    AuthenticationCompletion:
      type: object
      additionalProperties: false
      required: [account, session, csrf_token, csrf_expires_at]
      properties:
        account: {$ref: '#/components/schemas/Account'}
        session: {$ref: '#/components/schemas/IdentitySession'}
        csrf_token: {type: string, minLength: 32, maxLength: 256, readOnly: true}
        csrf_expires_at: {$ref: '#/components/schemas/DateTime'}
        authorization_resume_uri: {type: string, format: uri, pattern: '^https://identity\.moesegfault\.dev/v1/oauth/authorization-transactions/[0-9a-f-]+/resume$'}
    CreateRecoveryRequest:
      type: object
      additionalProperties: false
      required: [recovery_code, authenticator_label]
      properties:
        recovery_code: {type: string, minLength: 20, maxLength: 128, writeOnly: true}
        authenticator_label: {type: string, minLength: 1, maxLength: 80}
    RecoveryTransaction:
      type: object
      additionalProperties: false
      required: [transaction_id, csrf_token, expires_at, public_key]
      properties:
        transaction_id: {$ref: '#/components/schemas/UuidV7'}
        csrf_token: {type: string, minLength: 32, maxLength: 256, readOnly: true}
        expires_at: {$ref: '#/components/schemas/DateTime'}
        public_key: {$ref: '#/components/schemas/PublicKeyCredentialCreationOptions'}
    RecoveryCompletion:
      type: object
      additionalProperties: false
      required: [account, authenticator, session, recovery_codes, csrf_token, csrf_expires_at]
      properties:
        account: {$ref: '#/components/schemas/Account'}
        authenticator: {$ref: '#/components/schemas/Authenticator'}
        session: {$ref: '#/components/schemas/IdentitySession'}
        recovery_codes:
          type: array
          minItems: 8
          maxItems: 16
          items: {type: string, minLength: 20, maxLength: 128, readOnly: true}
        csrf_token: {type: string, minLength: 32, maxLength: 256, readOnly: true}
        csrf_expires_at: {$ref: '#/components/schemas/DateTime'}
    Account:
      type: object
      additionalProperties: false
      required: [principal_id, lifecycle_state, profile, identifiers, created_at, updated_at]
      properties:
        principal_id: {$ref: '#/components/schemas/UuidV4'}
        lifecycle_state: {type: string, enum: [active, suspended, pending_deletion, deleted]}
        profile: {$ref: '#/components/schemas/HumanProfile'}
        identifiers: {type: array, items: {$ref: '#/components/schemas/Identifier'}, maxItems: 1}
        created_at: {$ref: '#/components/schemas/DateTime'}
        updated_at: {$ref: '#/components/schemas/DateTime'}
    HumanProfile:
      type: object
      additionalProperties: false
      required: [display_name, locale]
      properties:
        display_name: {type: string, minLength: 1, maxLength: 80}
        avatar_url: {type: ['string', 'null'], format: uri}
        locale: {type: string, minLength: 2, maxLength: 35}
    UpdateAccountRequest:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        display_name: {type: string, minLength: 1, maxLength: 80}
        locale: {type: string, minLength: 2, maxLength: 35}
    IdentifierInput:
      type: object
      additionalProperties: false
      required: [kind, value]
      properties:
        kind: {type: string, const: username}
        value: {$ref: '#/components/schemas/Username'}
    Identifier:
      type: object
      additionalProperties: false
      required: [identifier_id, kind, value, created_at, updated_at]
      properties:
        identifier_id: {$ref: '#/components/schemas/UuidV7'}
        kind: {type: string, const: username}
        value: {$ref: '#/components/schemas/Username'}
        created_at: {$ref: '#/components/schemas/DateTime'}
        updated_at: {$ref: '#/components/schemas/DateTime'}
    Authenticator:
      type: object
      additionalProperties: false
      required: [authenticator_id, label, transports, backup_eligible, backup_state, is_current, created_at]
      properties:
        authenticator_id: {$ref: '#/components/schemas/UuidV7'}
        label: {type: string, minLength: 1, maxLength: 80}
        transports: {type: array, uniqueItems: true, items: {type: string}}
        backup_eligible: {type: boolean}
        backup_state: {type: boolean}
        is_current: {type: boolean}
        created_at: {$ref: '#/components/schemas/DateTime'}
        last_used_at: {oneOf: [{$ref: '#/components/schemas/DateTime'}, {type: 'null'}]}
        revoked_at: {oneOf: [{$ref: '#/components/schemas/DateTime'}, {type: 'null'}]}
    UpdateAuthenticatorRequest:
      type: object
      additionalProperties: false
      required: [label]
      properties:
        label: {type: string, minLength: 1, maxLength: 80}
    BindingProvider:
      type: object
      additionalProperties: false
      required: [provider_id, display_name, authentication_enabled]
      properties:
        provider_id: {type: string, pattern: '^[a-z][a-z0-9_-]{1,31}$'}
        display_name: {type: string, minLength: 1, maxLength: 80}
        authentication_enabled: {type: boolean}
    IdentityBinding:
      type: object
      additionalProperties: false
      required: [binding_id, provider_id, kind, authentication_enabled, created_at]
      properties:
        binding_id: {$ref: '#/components/schemas/UuidV7'}
        provider_id: {type: string, pattern: '^[a-z][a-z0-9_-]{1,31}$'}
        kind: {type: string, const: federated_human}
        display_label: {type: ['string', 'null'], maxLength: 120}
        authentication_enabled: {type: boolean}
        created_at: {$ref: '#/components/schemas/DateTime'}
        last_authenticated_at: {oneOf: [{$ref: '#/components/schemas/DateTime'}, {type: 'null'}]}
    CreateBindingTransactionRequest:
      type: object
      additionalProperties: false
      required: [provider_id]
      properties:
        provider_id: {type: string, pattern: '^[a-z][a-z0-9_-]{1,31}$'}
    BindingTransaction:
      type: object
      additionalProperties: false
      required: [transaction_id, provider_id, authorization_uri, expires_at]
      properties:
        transaction_id: {$ref: '#/components/schemas/UuidV7'}
        provider_id: {type: string}
        authorization_uri: {type: string, format: uri, pattern: '^https://'}
        expires_at: {$ref: '#/components/schemas/DateTime'}
    IdentitySession:
      type: object
      additionalProperties: false
      required: [session_id, authentication_method, amr, acr, is_current, authenticated_at, last_seen_at, expires_at]
      properties:
        session_id: {$ref: '#/components/schemas/UuidV7'}
        authentication_method: {type: string, enum: [passkey, federated]}
        authenticator_id: {oneOf: [{$ref: '#/components/schemas/UuidV7'}, {type: 'null'}]}
        binding_id: {oneOf: [{$ref: '#/components/schemas/UuidV7'}, {type: 'null'}]}
        amr: {type: array, minItems: 1, uniqueItems: true, items: {type: string}}
        acr: {type: string, minLength: 1, maxLength: 255}
        is_current: {type: boolean}
        authenticated_at: {$ref: '#/components/schemas/DateTime'}
        last_seen_at: {$ref: '#/components/schemas/DateTime'}
        expires_at: {$ref: '#/components/schemas/DateTime'}
        revoked_at: {oneOf: [{$ref: '#/components/schemas/DateTime'}, {type: 'null'}]}
    RecoveryCodeStatus:
      type: object
      additionalProperties: false
      required: [generated_at, total_count, remaining_count]
      properties:
        generated_at: {$ref: '#/components/schemas/DateTime'}
        total_count: {type: integer, minimum: 8, maximum: 16}
        remaining_count: {type: integer, minimum: 0, maximum: 16}
    RecoveryCodeRotation:
      type: object
      additionalProperties: false
      required: [generated_at, total_count, remaining_count, recovery_codes]
      properties:
        generated_at: {$ref: '#/components/schemas/DateTime'}
        total_count: {type: integer, minimum: 8, maximum: 16}
        remaining_count: {type: integer, minimum: 0, maximum: 16}
        recovery_codes:
          type: array
          minItems: 8
          maxItems: 16
          items: {type: string, minLength: 20, maxLength: 128, readOnly: true}
    OAuthTokenRequest:
      oneOf:
        - {$ref: '#/components/schemas/AuthorizationCodeTokenRequest'}
        - {$ref: '#/components/schemas/RefreshTokenRequest'}
      discriminator:
        propertyName: grant_type
        mapping:
          authorization_code: '#/components/schemas/AuthorizationCodeTokenRequest'
          refresh_token: '#/components/schemas/RefreshTokenRequest'
    OAuthClientAuthentication:
      type: object
      required: [client_id]
      properties:
        client_id: {type: string, minLength: 1, maxLength: 255}
        client_assertion_type: {type: string, const: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer'}
        client_assertion: {type: string, maxLength: 8192, writeOnly: true}
    AuthorizationCodeTokenRequest:
      type: object
      unevaluatedProperties: false
      allOf:
        - {$ref: '#/components/schemas/OAuthClientAuthentication'}
        - type: object
          required: [grant_type, code, redirect_uri, code_verifier]
          properties:
            grant_type: {type: string, const: authorization_code}
            code: {type: string, minLength: 32, maxLength: 2048, writeOnly: true}
            redirect_uri: {type: string, format: uri, maxLength: 2048}
            code_verifier: {type: string, minLength: 43, maxLength: 128, pattern: '^[A-Za-z0-9._~-]+$', writeOnly: true}
    RefreshTokenRequest:
      type: object
      unevaluatedProperties: false
      allOf:
        - {$ref: '#/components/schemas/OAuthClientAuthentication'}
        - type: object
          required: [grant_type, refresh_token]
          properties:
            grant_type: {type: string, const: refresh_token}
            refresh_token: {type: string, minLength: 32, maxLength: 2048, writeOnly: true}
    OAuthTokenResponse:
      type: object
      additionalProperties: false
      required: [access_token, token_type, expires_in, scope, id_token]
      properties:
        access_token: {type: string, minLength: 32, maxLength: 8192, readOnly: true}
        token_type: {type: string, const: Bearer}
        expires_in: {type: integer, minimum: 1, maximum: 300}
        scope: {type: string, minLength: 6, maxLength: 1024}
        id_token: {type: string, minLength: 32, maxLength: 8192, readOnly: true}
        refresh_token: {type: string, minLength: 32, maxLength: 2048, readOnly: true}
    OAuthRevocationRequest:
      type: object
      additionalProperties: false
      required: [token, client_id]
      properties:
        token: {type: string, minLength: 32, maxLength: 8192, writeOnly: true}
        token_type_hint: {type: string, enum: [access_token, refresh_token]}
        client_id: {type: string, minLength: 1, maxLength: 255}
        client_assertion_type: {type: string, const: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer'}
        client_assertion: {type: string, maxLength: 8192, writeOnly: true}
    OAuthError:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error: {type: string, enum: [invalid_request, invalid_client, invalid_grant, unauthorized_client, unsupported_grant_type, invalid_scope, temporarily_unavailable, invalid_token, insufficient_scope]}
        error_description: {type: string, maxLength: 512}
        error_uri: {type: string, format: uri}
    UserClaims:
      type: object
      additionalProperties: false
      required: [sub]
      properties:
        sub: {type: string, minLength: 16, maxLength: 255}
        name: {type: string, minLength: 1, maxLength: 80}
        preferred_username: {$ref: '#/components/schemas/Username'}
